@model IEnumerable<CorrespondenciaWebApp.Models.Comunicacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consecutivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreArchivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaIdDestinoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaIdRemiteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoComunicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioIdRegistraNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Consecutivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreArchivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonaIdDestinoNavigation.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonaIdRemiteNavigation.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoComunicacion.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioIdRegistraNavigation.Contrasena)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComunicacionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComunicacionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComunicacionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
